body {
  font-family: sans-serif, Arial, Helvetica;
}

.page-heading {
  text-align: center;
}

table {
  border: 1px solid;
  width: 100%;
  border-collapse: collapse;
}

td,
th {
  border-top: 3px solid;
  border-bottom: 3px solid;
  border-left: 1px solid;
}

.table-headings {
  color: rgb(33, 53, 77);
  font-size: 20px;
}
